$font-family-H: cabin-bold;
$font-family-P: BalooDa2-Regular;
$headerAndCensor-bg: #f3f3f3;
$titleColor: #d9d9d9;
$btn-add-bg: #fcdc2a;
$btn-reset-bg: #cc4928;
$btn-censor-bg: #23a844;
$btn-add-bg-hv: #f0d32f;
$btn-reset-bg-hv: #b8492e;
$btn-censor-bg-hv: #289744;
$btn-add-bg-fc1: #fce14d;
$btn-add-bg-fc2: #fde454a6;
$btn-reset-bg-fc1: #dd5b3a;
$btn-reset-bg-fc2: #cc4928a4;
$btn-censor-bg-fc1: #47c266;
$btn-censor-bg-fc2: #23a84473;
$iptAndTxtArea-b-shadow: #d6d6d6;
$iptAndTxtArea-b-shadow-warning: #e71313;
$TxtArea-b-shadow-good: rgb(20, 161, 20)